<!-- esto es index/inicio -->

<div class="post-container">


    <!-- all this is the template for dynamic loading from backend
    and/or db EVERY ITEM GOES WITH A UNIQUE ID=""-->

    <p id='descripcion'></p>

    <!-- este es el template -->

        <!-- <article class="article-post">
            <h2 class="h2-title">TITULO POST</h2>

            <div class="div-time">
                <time class="time-post">fecha y hora de post</time>
            </div>

            <div class="div-img">
                <img class="img-post"
                    src="<?=base_url()?>assets/img/mosquitos.jpg"
                    alt="">
            </div>

            <div class="div-comments">
                <span class="qty-comments">cantidad comentarios</span>
            </div>

            <div class="div-desc">
                <p class="p-desc-no-show" id='descripcion'>

                </p>

            </div>
            <div class="div-p-click">
                <p class="p-show-click">Mostrar</p>
            </div>

            <table class="table-comments">

                <tr>
                    <td class="comments">
                    <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
                <tr>
                    <td class="comments">
                        <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
            </table>

            <div class="show-more-comments">
                <span class="span-more-comments">Mostrar mas comentarios</span>
            </div>

            <form class="form-comments"action="">
                <input class="input-comments"
                    type="text"
                    placeholder="Escribe un comentario...">
            </form>

        </article> -->

        <!-- VIDEO template  -->
        <!-- <article class="article-post">
            <h2 class="h2-title">TITULO VIDEO</h2>

            <div class="div-time">
                <time class="time-post">fecha y hora de post</time>
            </div>

            <div class="div-img">
                <video class="video-post"
                    controls
                    src="<?=base_url()?>assets/videos/2019-10-13 15-02-42.mp4"
                    type="video/mp4"
                    >
                </video>
            </div>

            <div class="div-comments">
                <span class="qty-comments">cantidad comentarios</span>
            </div>

            <div class="div-desc">
                <p class="p-desc-no-show">
                  Descripcion del video-->
                <!-- </p>

            </div>
            <div class="div-p-click">
                <p class="p-show-click">Mostrar</p>
            </div>

            <table class="table-comments">

                <tr>
                    <td class="comments">
                    <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
                <tr>
                    <td class="comments">
                        <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
            </table>

            <div class="show-more-comments">
                <span class="span-more-comments">Mostrar mas comentarios</span>
            </div>

            <form class="form-comments"action="">
                <input class="input-comments"
                    type="text"
                    placeholder="Escribe un comentario...">
            </form>

        </article>  -->

        <!-- fin post video -->


        <!-- template notas -->

        <!-- <article class="article-notas">

            <div class="nota">
                <h3 class="h3-nota">
                    ACA IRIA EL TITULO NOTA1
                </h3>
                <p class="p-nota"> -->

                <!-- dummy text -->

                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque orci metus, pharetra eu elit a, malesuada condimentum felis.
                Fusce a tellus eleifend, ultrices ligula id, luctus tellus.
                Donec eleifend lorem id turpis suscipit, nec vehicula nunc egestas.
                Ut sit amet ex vitae nunc lacinia lobortis sed sed urna.
                Sed ut gravida dui. Pellentesque laoreet, ante ut sollicitudin varius,
                sapien nunc ultricies magna, vel egestas libero ipsum et orci.
                Nunc sit amet ipsum sed est consectetur luctus.
                Nullam neque lectus, convallis non magna a, facilisis tincidunt velit.
                Phasellus ultricies consequat nibh. Nulla rutrum ultricies convallis.
                Sed pharetra tortor sit amet facilisis luctus. Duis quis pharetra purus,
                non fringilla augue. Nunc non eleifend sem. Aenean fermentum suscipit erat,
                eget interdum leo condimentum at. Integer condimentum justo nec congue
                rhoncus. Suspendisse eu erat non quam aliquet porttitor at a orci.

                Pellentesque condimentum elementum nisl, id fringilla turpis viverra vel.
                Donec condimentum at leo in ullamcorper. Pellentesque in nunc sit amet arcu
                rhoncus sollicitudin. In in leo consequat, pretium lacus eu, malesuada
                nisl. Sed tellus tellus, porttitor ut facilisis sit amet, convallis ut
                orci. Aliquam feugiat, dui ut placerat elementum, dui tortor facilisis m
                assa, sit amet facilisis tellus nisl quis sem. Nullam consectetur lacus
                aliquet, fringilla quam in, ultrices libero. Maecenas mollis purus ante,
                ac tempus felis placerat at. Nunc vitae viverra ligula, sed gravida elit.
                Aenean vehicula, turpis in placerat ultrices, nisi mi gravida ex, at
                ultricies felis odio eu odio. Sed convallis aliquam ante sed pellentesque.
                Quisque iaculis commodo nisl eget laoreet. Cras dignissim, felis quis
                molestie ultrices, ipsum felis lobortis turpis, ut rutrum justo massa ut
                tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Phasellus volutpat placerat justo, id pretium nunc viverra sed.
                Etiam auctor risus libero, et sagittis justo iaculis ut.

                </p>

            </div>

            <div class="div-notes-comments">
                <span class="qty-notes-comments">cantidad comentarios</span>
            </div>

            <table class="table-comments">

                <tr>
                    <td class="comments">
                    <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
                <tr>
                    <td class="comments">
                        <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
            </table>

            <div class="show-more-comments">
                <span class="span-more-comments">Mostrar mas comentarios</span>
            </div>

            <form class="form-comments"action="">
                <input class="input-comments"
                    type="text"
                    placeholder="Escribe un comentario...">
            </form>

        </article>  -->

        <!-- fin nota 1-->

    </div> <!--end post container -->


    <!-- lo de arriba es el index/inicio -->

    <!-- a partir de aca notas -->

    <main id="main">
        <article id="article-main">
            <h1>Notas</h1>

            <div class="div-notas-desc">
                <p>aca iria una descripcion de las notas general o bienvenida de las notas
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque orci metus, pharetra eu elit a, malesuada condimentum felis.
                Fusce a tellus eleifend, ultrices ligula id, luctus tellus.
                Donec eleifend lorem id turpis suscipit, nec vehicula nunc egestas.
                </p>
            </div>
        </article>

        <!-- cada article con un id para crear la plantilla de cada nota esta seria id="article-nota-1"-->
        
        <!-- <article class="article-notas">

            <div class="nota">
                <h3 class="h3-nota">
                    ACA IRIA EL TITULO NOTA1
                </h3>
                <p class="p-nota">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque orci metus, pharetra eu elit a, malesuada condimentum felis.
                Fusce a tellus eleifend, ultrices ligula id, luctus tellus.
                Donec eleifend lorem id turpis suscipit, nec vehicula nunc egestas.
                Ut sit amet ex vitae nunc lacinia lobortis sed sed urna.
                Sed ut gravida dui. Pellentesque laoreet, ante ut sollicitudin varius,
                sapien nunc ultricies magna, vel egestas libero ipsum et orci.
                Nunc sit amet ipsum sed est consectetur luctus.
                Nullam neque lectus, convallis non magna a, facilisis tincidunt velit.
                Phasellus ultricies consequat nibh. Nulla rutrum ultricies convallis.
                Sed pharetra tortor sit amet facilisis luctus. Duis quis pharetra purus,
                non fringilla augue. Nunc non eleifend sem. Aenean fermentum suscipit erat,
                eget interdum leo condimentum at. Integer condimentum justo nec congue
                rhoncus. Suspendisse eu erat non quam aliquet porttitor at a orci.

                Pellentesque condimentum elementum nisl, id fringilla turpis viverra vel.
                Donec condimentum at leo in ullamcorper. Pellentesque in nunc sit amet arcu
                 rhoncus sollicitudin. In in leo consequat, pretium lacus eu, malesuada
                 nisl. Sed tellus tellus, porttitor ut facilisis sit amet, convallis ut
                 orci. Aliquam feugiat, dui ut placerat elementum, dui tortor facilisis m
                 assa, sit amet facilisis tellus nisl quis sem. Nullam consectetur lacus
                 aliquet, fringilla quam in, ultrices libero. Maecenas mollis purus ante,
                 ac tempus felis placerat at. Nunc vitae viverra ligula, sed gravida elit.
                 Aenean vehicula, turpis in placerat ultrices, nisi mi gravida ex, at
                 ultricies felis odio eu odio. Sed convallis aliquam ante sed pellentesque.
                 Quisque iaculis commodo nisl eget laoreet. Cras dignissim, felis quis
                 molestie ultrices, ipsum felis lobortis turpis, ut rutrum justo massa ut
                 tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                 Phasellus volutpat placerat justo, id pretium nunc viverra sed.
                 Etiam auctor risus libero, et sagittis justo iaculis ut.

                Curabitur rutrum tortor pellentesque mauris lobortis rhoncus.
                Donec tristique condimentum urna eu tincidunt. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Cras ut orci et massa posuere
                aliquet. Phasellus finibus finibus dui, a finibus ex elementum eget.
                Quisque et tellus metus. Morbi et semper erat. Duis pulvinar ex ac ligula
                semper, rhoncus porta mi volutpat. Nunc sit amet viverra arcu.
                Phasellus lectus neque, facilisis id ornare eu, laoreet in metus.
                Praesent sollicitudin nulla id augue auctor lobortis. Nulla cursus massa
                vel lorem mollis, in pretium sem hendrerit. Praesent at faucibus sapien.
                Maecenas eu turpis ultricies ante vehicula aliquet non ut quam. Nulla non
                consectetur lectus, non mattis turpis. Cras commodo justo in viverra varius.

                Sed egestas tristique ipsum, ac consequat nulla sagittis gravida.
                Vestibulum non purus mollis, dictum nibh vitae, viverra arcu. Praesent
                placerat justo in erat lacinia volutpat. Duis arcu justo, pulvinar ac
                sapien in, pellentesque pretium tortor. Sed fringilla orci in vehicula
                congue. Suspendisse at nisi non augue tempus faucibus. Duis eleifend
                neque tincidunt, egestas massa non, maximus mi.

                Quisque ante nisi, dictum a rhoncus eget, efficitur at justo. Ut a
                 fermentum tellus. Integer scelerisque blandit urna eu malesuada.
                 Vivamus et lacus non velit volutpat imperdiet sed congue massa.
                 Maecenas ut suscipit nulla, nec tincidunt urna. Nam auctor dui a
                 pellentesque pharetra. Ut nisl orci, pharetra vel quam sed, tempor
                 sodales orci. Sed pharetra ex eu magna gravida dapibus ut ut mauris.
                  Quisque turpis nisl, fringilla id dictum nec, laoreet sed nibh.
                  Sed pellentesque dolor in efficitur accumsan. Vestibulum eget ipsum
                  vitae metus semper fringilla.
                </p>

            </div>

            <table class="table-comments">

                <tr>
                    <td class="comments">
                    <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
                <tr>
                    <td class="comments">
                        <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
            </table>

            <div class="show-more-comments">
                    <span class="span-more-comments">Mostrar mas comentarios</span>
                </div>

            <form class="form-comments"action="">
                <input class="input-comments"
                    type="text"
                    placeholder="Escribe un comentario...">
            </form>

        </article>  -->
        
        <!-- fin nota 1-->

        <article class="article-notas">
        <!-- cada article con un id para crear la plantilla de cada nota esta seria id="article-nota-2" y asi-->
        
        <!-- <div class="nota">
                <h3 class="h3-nota">
                    ACA IRIA EL TITULO  NOTA2
                </h3>
                <p class="p-nota">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque orci metus, pharetra eu elit a, malesuada condimentum felis.
                Fusce a tellus eleifend, ultrices ligula id, luctus tellus.
                Donec eleifend lorem id turpis suscipit, nec vehicula nunc egestas.
                Ut sit amet ex vitae nunc lacinia lobortis sed sed urna.
                Sed ut gravida dui. Pellentesque laoreet, ante ut sollicitudin varius,
                sapien nunc ultricies magna, vel egestas libero ipsum et orci.
                Nunc sit amet ipsum sed est consectetur luctus.
                Nullam neque lectus, convallis non magna a, facilisis tincidunt velit.
                Phasellus ultricies consequat nibh. Nulla rutrum ultricies convallis.
                Sed pharetra tortor sit amet facilisis luctus. Duis quis pharetra purus,
                non fringilla augue. Nunc non eleifend sem. Aenean fermentum suscipit erat,
                eget interdum leo condimentum at. Integer condimentum justo nec congue
                rhoncus. Suspendisse eu erat non quam aliquet porttitor at a orci.

                Pellentesque condimentum elementum nisl, id fringilla turpis viverra vel.
                Donec condimentum at leo in ullamcorper. Pellentesque in nunc sit amet arcu
                 rhoncus sollicitudin. In in leo consequat, pretium lacus eu, malesuada
                 nisl. Sed tellus tellus, porttitor ut facilisis sit amet, convallis ut
                 orci. Aliquam feugiat, dui ut placerat elementum, dui tortor facilisis m
                 assa, sit amet facilisis tellus nisl quis sem. Nullam consectetur lacus
                 aliquet, fringilla quam in, ultrices libero. Maecenas mollis purus ante,
                 ac tempus felis placerat at. Nunc vitae viverra ligula, sed gravida elit.
                 Aenean vehicula, turpis in placerat ultrices, nisi mi gravida ex, at
                 ultricies felis odio eu odio. Sed convallis aliquam ante sed pellentesque.
                 Quisque iaculis commodo nisl eget laoreet. Cras dignissim, felis quis
                 molestie ultrices, ipsum felis lobortis turpis, ut rutrum justo massa ut
                 tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                 Phasellus volutpat placerat justo, id pretium nunc viverra sed.
                 Etiam auctor risus libero, et sagittis justo iaculis ut.
                </p>

            </div>

            <table class="table-comments">

                <tr>
                    <td class="comments">
                    <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
                <tr>
                    <td class="comments">
                        <p class="p-comments-no-show">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque orci metus, descripcion post esto puede ser muy largo
                        por los que habria que manejar que se despliege cuando se hace
                        click en algun lado, poner cantidad de lineas o algo
                        </p>
                        <span class="show-comments">Mostrar comentario</span>
                    </td>
                </tr>
            </table>

            <form class="form-comments"action="">
                <input class="input-comments"
                    type="text"
                    placeholder="Escribe un comentario...">
            </form>

        </article>   -->
        
        <!--fin nota dos -->

    </main>

    <!-- esto esta solucionado con js en notas.js -->
    <!-- aside con position fixed para que no scrollee
        con sticky overlapea al header sino dejar normal
        asi da para cargar 15 notas/fechas. pero overlapea el
        footer asi que ver mas adelante.  -->
    <aside id="aside" class="aside-show">
       <h2>Ultimas Notas</h2>

       <div class="div-notas">

       <!-- this LOADS dynamic -->
        <ul class="ul-notas">
            <!-- <li class="li-notas">
                <a class="li-notas-a" href="">Ultima nota</a>
            </li>
            <li class="li-notas">
                <a class="li-notas-a" href="">nota anterior</a>
            </li>
            <li class="li-notas">
                <a href="">nota</a>
            </li>
            <li class="li-notas">
                <a href="">overflow para titulo nota larga</a>
                </li>

            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">nota anterior</a>
                </li>
            <li class="li-notas">
                <a href="">14 notas</a>
                </li> -->

       </div>

       <!-- this LOADS dynamic -->
       <div class="div-fechas">
            <ul class="ul-fechas">

                <!-- <li class="li-fechas">
                    11/10/2019
                </li>
                <li class="li-fechas">
                    10/10/2019
                </li>
                <li class="li-fechas">
                09/10/2019
                </li>
                <li class="li-fechas">
                08/10/2019
                </li>
                <li class="li-fechas">
                07/10/2019
                </li>
                <li class="li-fechas">
                06/10/2019
                </li>
                <li class="li-fechas">
                05/10/2019
                </li>
                <li class="li-fechas">
                04/10/2019
                </li>
                <li class="li-fechas">
                03/10/2019
                </li>
                <li class="li-fechas">
                02/10/2019
                </li>
                <li class="li-fechas">
                01/10/2019
                </li>
                <li class="li-fechas">
                30/10/2019
                </li>
                <li class="li-fechas">
                29/10/2019
                </li>
                <li class="li-fechas">
                28/10/2019
                </li> -->
                
            </ul>
       </div>


    </aside>

    <!-- lo de arriba notas -->

    <!-- aca archivo -->

    <main id="main">

        <aside id="aside-left">

       </aside>
       <aside id="aside-right">

       </aside>

       <article id="article-main">
           <h1>Bienvenidos al Archivo</h1>

       </article>
       <!-- adentro de esto "post-container" tiene que cargar dynamic segun
       los resultados la idea es que cargue FOTOS, VIDEOS o 
       NOTAS con las clases y elementos ya utilzados
       en index.php -->

       <!-- IMPORTANTE RECORDAR los archivos cargan con 
       determinado numero de comentarios-->

       <div class="post-container" id="archivo-main"> <!--este ID no se si iria-->

       <!-- <article class="article-post">
               <h2 class="h2-title">TITULO POST</h2>

               <div class="div-time">
                   <time class="time-post">fecha y hora de post</time>
               </div>

               <div class="div-img">
                   <img class="img-post"
                       src="<?=base_url()?>assets/img/mosquitos.jpg"
                       alt="">
               </div>

               <div class="div-comments">
                   <span class="qty-comments">cantidad comentarios</span>
               </div>

               <div class="div-desc">
                   <p class="p-desc-no-show">descripcion post esto puede ser muy largo
                       por los que habria que manejar que se despliege cuando se hace
                       click en algun lado, poner cantidad de lineas o algo
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Pellentesque orci metus, descripcion post esto puede ser muy largo
                       por los que habria que manejar que se despliege cuando se hace
                       click en algun lado, poner cantidad de lineas o algo
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Pellentesque orci metus, descripcion post esto puede ser muy largo
                   </p>

               </div>
               <div class="div-p-click">
                   <p class="p-show-click">Mostrar</p>
               </div>

               <table class="table-comments">

                   <tr>
                       <td class="comments">
                       <p class="p-comments-no-show">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Pellentesque orci metus, descripcion post esto puede ser muy largo
                           por los que habria que manejar que se despliege cuando se hace
                           click en algun lado, poner cantidad de lineas o algo
                           </p>
                           <span class="show-comments">Mostrar comentario</span>
                       </td>
                   </tr>
                   <tr>
                       <td class="comments">
                           <p class="p-comments-no-show">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Pellentesque orci metus, descripcion post esto puede ser muy largo
                           por los que habria que manejar que se despliege cuando se hace
                           click en algun lado, poner cantidad de lineas o algo
                           </p>
                           <span class="show-comments">Mostrar comentario</span>
                       </td>
                   </tr>
               </table>

               <div class="show-more-comments">
                   <span class="span-more-comments">Mostrar mas comentarios</span>
               </div>


               <form class="form-comments"action="">
                   <input class="input-comments"
                       type="text"
                       placeholder="Escribe un comentario...">
               </form>

               
           </article> -->

           <!-- VIDEO template  -->

           <!-- <article class="article-post">
               <h2 class="h2-title">TITULO VIDEO</h2>

               <div class="div-time">
                   <time class="time-post">fecha y hora de post</time>
               </div>

               <div class="div-img">
                   <video class="video-post" controls>
                       <source
                       src="<?=base_url()?>assets/videos/2019-10-13 15-02-42.mp4"
                       type="video/mp4"
                       controls>
                   </video>
               </div>

               <div class="div-comments">
                   <span class="qty-comments">cantidad comentarios</span>
               </div>

               <div class="div-desc">
                   <p class="p-desc-no-show">descripcion post esto puede ser muy largo
                       por los que habria que manejar que se despliege cuando se hace
                       click en algun lado, poner cantidad de lineas o algo
                   </p>

               </div>
               <div class="div-p-click">
                   <p class="p-show-click">Mostrar</p>
               </div>

               <table class="table-comments">

                   <tr>
                       <td class="comments">
                       <p class="p-comments-no-show">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Pellentesque orci metus, descripcion post esto puede ser muy largo
                           por los que habria que manejar que se despliege cuando se hace
                           click en algun lado, poner cantidad de lineas o algo
                           </p>
                           <span class="show-comments">Mostrar comentario</span>
                       </td>
                   </tr>
                   <tr>
                       <td class="comments">
                           <p class="p-comments-no-show">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Pellentesque orci metus, descripcion post esto puede ser muy largo
                           por los que habria que manejar que se despliege cuando se hace
                           click en algun lado, poner cantidad de lineas o algo
                           </p>
                           <span class="show-comments">Mostrar comentario</span>
                       </td>
                   </tr>
               </table>

               <div class="show-more-comments">
                   <span class="span-more-comments">Mostrar mas comentarios</span>
               </div>

               <form class="form-comments"action="">
                   <input class="input-comments"
                       type="text"
                       placeholder="Escribe un comentario...">
               </form>

           </article>  -->
           
           <!--fin post video-->


           <!-- template notas -->

           <!-- <article class="article-notas">

               <div class="nota">
                   <h3 class="h3-nota">
                       ACA IRIA EL TITULO NOTA1
                   </h3>
                   <p class="p-nota">

                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Pellentesque orci metus, pharetra eu elit a, malesuada condimentum felis.
                   Fusce a tellus eleifend, ultrices ligula id, luctus tellus.
                   Donec eleifend lorem id turpis suscipit, nec vehicula nunc egestas.
                   Ut sit amet ex vitae nunc lacinia lobortis sed sed urna.
                   Sed ut gravida dui. Pellentesque laoreet, ante ut sollicitudin varius,
                   sapien nunc ultricies magna, vel egestas libero ipsum et orci.
                   Nunc sit amet ipsum sed est consectetur luctus.
                   Nullam neque lectus, convallis non magna a, facilisis tincidunt velit.
                   Phasellus ultricies consequat nibh. Nulla rutrum ultricies convallis.
                   Sed pharetra tortor sit amet facilisis luctus. Duis quis pharetra purus,
                   non fringilla augue. Nunc non eleifend sem. Aenean fermentum suscipit erat,
                   eget interdum leo condimentum at. Integer condimentum justo nec congue
                   rhoncus. Suspendisse eu erat non quam aliquet porttitor at a orci.

                   </p>

               </div>

               <div class="div-notes-comments">
                   <span class="qty-notes-comments">cantidad comentarios</span>
               </div>

               <table class="table-comments">

                   <tr>
                       <td class="comments">
                       <p class="p-comments-no-show">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Pellentesque orci metus, descripcion post esto puede ser muy largo
                           por los que habria que manejar que se despliege cuando se hace
                           click en algun lado, poner cantidad de lineas o algo
                           </p>
                           <span class="show-comments">Mostrar comentario</span>
                       </td>
                   </tr>
                   <tr>
                       <td class="comments">
                           <p class="p-comments-no-show">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Pellentesque orci metus, descripcion post esto puede ser muy largo
                           por los que habria que manejar que se despliege cuando se hace
                           click en algun lado, poner cantidad de lineas o algo
                           </p>
                           <span class="show-comments">Mostrar comentario</span>
                       </td>
                   </tr>
               </table>

               <div class="show-more-comments">
                   <span class="span-more-comments">Mostrar mas comentarios</span>
               </div>

               <form class="form-comments"action="">
                   <input class="input-comments"
                       type="text"
                       placeholder="Escribe un comentario...">
               </form>

           </article>  -->
           
           <!-- fin nota 1-->
       
       </div>

   </main>

   <!-- arriba archivo -->
