/* ARCHIVO.PHP CSS IS AT THE END BEFORE RESPONSIVE*/

* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* recordar que la 6 col-> 220px es del aside VER */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 250px;
    grid-template-rows: 50px auto 120px;
}

header {
    font-family: 'Lobster', cursive;
    grid-column: 1 / 7;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 160px 5%;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    align-items: center;
    background-color: black;
}

nav {
    grid-column: 2 / 3;
    color: #dddddd;
    font-size: 22px;
    /* padding-left: 55px; */
}

nav a {
    text-decoration: none;
    margin-right: 12px;
    color: #dddddd;
}

nav a:last-of-type {
    margin-right: 0;
}

nav a:link {
    color: #dddddd; 
}

nav a:visited {
    color: #dddddd;
}

nav a:hover {
    color: #1c52c7cc; 
}

nav a:active {
    color: #1c52c7cc; 
}

/* ORDER
:link
:visited
:hover
:active */

.form-search {
    grid-column: 3 / 4;
    width: 70%;
    margin: 0 auto 0 50px;
    display: none;
}

.input-search {
    text-align: left;
    width: 100%;
    height: 20px;
    color:rgb (30, 30, 50);
    font-size: 13px;
    padding: 14px;
    padding-left: 32px;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    background-image: url('https://img.icons8.com/color/48/000000/search.png');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 2px 50%;
    background-color: #dddddd;
}

.input-search:focus{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 8px 1px rgba(255,255,255,1);
  }

.icons {
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* margin-right: 55px; */
}

#icon-div1 {
    grid-column: 1 / 2;
    width: 80px;
    text-align: right;
}

#icon-div2 {
    grid-column: 2 / 3;
    width: 80px;
    text-align: right;
}

.social-icons {
    font-size: 30px;
}


.social-icons:link {
    color: #dddddd; 
}

.social-icons:visited {
    color: #dddddd;
}

.social-icons:hover {
    color: #1c52c7cc; 
}

.social-icons:active {
    color: #1c52c7cc; 
}


main {
    grid-row: 2 / 2;
    grid-column: 1 / 7;
    background-color: #ddd;
    /* padding-bottom: 30px; */
    margin: 0;

    /* this is for left and right aside */
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
}

/* this to avoid header overlapping */
html {
    scroll-padding-top: 50px;
}


.post-container {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    width: 100%;
}

#aside-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #ddd;
    text-align: center;
    margin: 0;
    padding: 0;
}

#aside-right {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #ddd;
    text-align: center;
}

/* ARCHIVO.PHP CSS STARTS HERE */

/* THIS IS FOR IMAGE POST */

#article-main {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    width: 100%; /*70%*/
    margin: 0 auto;
    text-align: center;
}

/* #article-main h1 {
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    margin-top: 22px;
    font-size: 34px;
} */

#article-main h1 {
    font-family: 'Lobster', cursive;
    background-color: #dddddd;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 0;
    font-size: 48px;
    letter-spacing: 1px;
    text-align: center;
}

#article-main p{
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px 20px 0;
}
.article-post {
    width: 80%;
    margin: 0 auto 50px;
}

.article-notas {
    width: 80%;
    margin: 0 auto 50px;
}

.h2-title {
    font-family: 'Lobster', cursive;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.div-desc {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    text-align: justify;
    background-color: #ddd;
}

.p-desc-no-show {
    padding: 8px 2px 8px 12px;
    max-width: 54vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.p-desc-show {
    padding: 8px 2px 8px 12px;
}

.div-p-click {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    
}
.p-show-click {
    text-align: right;
    margin-right: 8px;
    text-decoration: underline;    
}

.p-show-click:hover {
    color: #002b88;
    cursor: pointer;
}

.p-show-desc {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.div-time {
    width: 69%;
    text-align: left;
    margin: 0 auto;
    height: 35px;
    padding-left: 4px;
}

.div-img {
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    padding: 0;
}

/* image */

.img-post {
    width: 100%;
    border-radius: 8px;
    /* this is from cssmatic/box-shadow */
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

/* videos */
.video-post {
    width: 100%; 
    /* this is from cssmatic/box-shadow */
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}


.div-comments {
    width: 70%;
    background-color: #ddd;
    text-align: right;
    margin: 4px auto 0;
}
/* 
.qty-comments {

} */

.table-comments {
    width: 60%;
    background-color: #ddd;
    margin: 0 auto;
    border: none;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table-comments tr {
    width: 100%;
}

.comments {
    width: 100%;
    /* height: 2rem; */
    padding: 10px 12px 10px 12px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
}

.p-comments-no-show {
    margin: 0;
    padding: 0;
    /* padding-bottom: 8px; */
    /* max-width: 550px; */
    max-width: 45vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-comments-show {
    margin: 0;
    padding: 0;
    /* width: 550px; */
    width: 45vw;
    padding-bottom: 8px;
}

.show-comments {
    text-align: right;
    text-decoration: underline;
}

.show-comments:hover {
    color: #002b88;
    cursor: pointer;
}

.show-more-comments {
    width: 70%;
    padding: 8px 2px 8px 12px;
    margin: 0 auto;
}

.span-more-comments {
    text-decoration: underline;
}

.span-more-comments:hover {
    cursor: pointer;
    color: #002b88;
}

.form-comments {
    width: 60%;
    margin: 0 auto;
}

.input-comments {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}


/* IMAGE POST END */

/* this is for NOTES */

.article-notas {
    width: 70%;
    margin: 0 auto 50px;
}

.nota {
    margin-bottom: 14px;
    margin-top: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 1rem;
    /* this is from cssmatic/box-shadow */
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

.h3-nota {
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 26px;
}

.p-nota {
    margin: 0 28px 40px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 2;
    font-size: 17px;
}

.div-notes-comments {
    /* width: 70%; */
    /* background-color: #ddd; */
    text-align: right;
    margin-right: 4px;
}
/* 
.qty-notes-comments {

} */

/* end NOTAS */

footer {
    font-family: 'Lobster', cursive;
    grid-row: 3 / 3;
    grid-column: 1 / 7;
    background-color: black;
    color: #dddddd;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: 50% 50%; */
    
}

.footer-div1 {   
    /* grid-row: 1 / 1; */
    grid-column: 1 / 2;
    font-size: 19px;
    letter-spacing: 1.5px;
    /* padding-top: 20px; */
}

.footer-div2 {
    /* grid-row: 2 / 2; */
    grid-column: 2 / 3;
    font-size: 19px;
    letter-spacing: 1.5px;
}

.footer-div1 h4, .footer-div2 h4 {
    margin: 0;
    padding: 2px;
}
.footer-icons1 {
    margin: 0;
    /* margin-bottom: 20px; */
}

.footer-icons2 {
    margin: 0;
    /* margin-bottom: 20px; */
}

.footer-icons1 a {
    font-size: 30px;
    color: #dddddd;
    margin-right: 10px;
    
}

.footer-icons1 a:last-of-type {
    margin-right: 0;
}

.footer-icons1 a:hover {
    color: #1c52c7cc; 
}

.footer-icons2 a {
    font-size: 30px;
    color: #dddddd;
    margin-right: 10px;
    
}

.footer-icons2 a:last-of-type {
    margin-right: 0;
}

.footer-icons2 a:hover {
    color: #1c52c7cc; 
}

/* ARCHIVO.PHP CSS ENDS HERE */

/* RESPONSIVE */
@media (max-width: 680px) {

    nav {
        font-size: 20px;
        /* padding-left: 22px; */
    }

    .form-search {
        /* width: 150px; */
        margin: 0 auto 0 20px;
    }
/* 
    .input-search {
        width: 150px;
    } */

    #article-main h1 {
        margin-top: 22px;
        font-size: 32px;
    }

    #article-main p{
        font-size: 14px;
    }

    .h2-title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .div-desc {
        font-size: 14px;
    }

    .div-time {
        font-size: 14px;
        padding: 0;
    }

    .div-comments {
        font-size: 14px;
    }

    .p-show-click {
        font-size: 14px;
    }

    .comments {
        font-size: 14px;
    }

    .input-comments {
        font-size: 14px;
    }

    .h3-nota {
        font-size: 22px;
    }

    .p-nota {
        line-height: 1.5;
        font-size: 14px;
    }

    .div-notes-comments {
        font-size: 14px;
    }

}

@media (max-width: 610px) {

    header {
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .icons {
        display: none;
    }

    nav {
        grid-column: 2 / 3;
    }

    .form-search {
        margin: 0 auto;
        grid-column: 3 / 4;
        width: 100%;
    }

    /* .input-search {
        width: 120px;
    } */

    #article-main h1 {
        margin-top: 18px;
        font-size: 28px;
    }

    #article-main p{
        font-size: 12px;
    }

    .h2-title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .div-desc {
        font-size: 12px;
    }

    .div-time {
        font-size: 12px;
    }

    .div-comments {
        font-size: 12px;
    }

    .p-show-click {
        font-size: 12px;
    }

    .comments {
        font-size: 12px;
    }

    .input-comments {
        font-size: 12px;
    }

    .h3-nota {
        font-size: 18px;
    }

    .p-nota {
        line-height: 1;
        font-size: 12px;
    }

    .div-notes-comments {
        font-size: 12px;
    }
}

@media (max-width: 470px){

    nav a {
        margin-right: 6px;
    }

    .h3-nota {
        font-size: 14px;
    }

    .footer-div1 h4, .footer-div2 h4 {
        font-size: 4.6vw;
    }

    .footer-icons1 a, .footer-icons2 a {
        font-size: 6.2vw;
    }
}

@media (max-width: 415px) {

    nav {
        font-size: 18px;
        /* padding-left: 18px; */
    }
}


@media (max-width: 374px) {

    nav {
        font-size: 18px;
        /* padding-left: 16px; */
    }

    .input-search {
        /* width: 110px; */
        font-size: 12px;
    }

    main {
        grid-template-columns: 3% 94% 3%;
    }

    #article-main h1 {
       font-size: 8vw;
    }

    #article-main p{
        width: 100%;
        font-size: 4vw;
        /* margin: 0 auto;
        text-align: justify; */
        padding: 14px 14px 0;
    }

    .article-post {
        width: 90%;
        margin: 0 auto 40px;
    }
    
    .article-notas {
        width: 88%;
        margin: 0 auto 40px;
    }

    .div-time {
        width: 100%;
        text-align: left;
        margin: 0 auto;
        height: 35px;
        padding-left: 4px;
    }
    
    .div-img {
        width: 100%;
        text-align: justify;
        margin: 0 auto;
        padding: 0;
    }

    .div-desc {
        width: 100%;
    }

    /* acancer */

    .div-p-click {
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        
    }

    .p-desc-no-show {
        max-width: 84vw;
    }

    .form-comments {
        width: 90%;
    }

    .table-comments {
        width: 90%;
        border-spacing: 0 10px;
    }

    .p-comments-no-show {
        max-width: 70vw;
        /* background-color: red; */
    }
    
    .p-comments-show {
        width: 70vw;
        /* background-color: red; */
        padding-bottom: 4px;
    }

    .span-more-comments {
        font-size: 12px;
    }
}

@media (max-width: 352px) {  

    header {
        align-content: center;
    }

    .form-search {      
        display: none;
    }
    
    nav {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;       
    }

    nav a:first-of-type {
        grid-column: 1 / 2;
    }

    nav a {
        grid-column: 2 / 3;
    }

    nav a:last-of-type {
        grid-column: 3 / 4;
    }

    #article-main h1 {
        margin-top: 16px;
    }

}