/* #main {
    margin-top: 0;
    padding-top: 0;
} */

/* this to set table commmets equal */
#article-main {
    width: 70%;
    margin: 30px auto;
}

#article-main h1 {
    font-family: 'Lobster', cursive;
    background-color: #dddddd;
    margin-top: 30px;
    padding-top: 0;
    font-size: 48px;
    letter-spacing: 1px;
    text-align: center;
}

.div-notas-desc {
    /* background-color: blue; */
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 22px;
}

.div-notas-desc p {
    margin-bottom: 54px;
}

#aside {
    display: grid;
    grid-template-columns: 160px 90px; /*250px*/
    grid-template-rows: auto auto;
    /* align-content: flex-start; */
    /* justify-content: start; */
    right: 0;
    top: 50px;
    height: 100%;
} 

.aside-show {
    align-content: start;
    position: fixed;
}

.aside-no-show {
    align-content: end;
    position: static;
}


#aside h2 {
    font-family: 'Lobster', cursive;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    letter-spacing: 2px;
}

.div-notas {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

/* .aside-child-end {
    align-items: end;
} */

.div-fechas {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    text-align: left;
}
.ul-notas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* padding-right: 10px; */
}

.li-notas {
    margin-bottom: 8px;
    margin-left: 12px;
    padding-right: 6px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
    font-size: 14px;
    text-align: left;
}

.li-notas:last-of-type {
    margin-bottom: 20px;
}

.li-notas a {
    text-decoration: none;
    margin: 0;
    margin-right: 16px;
    text-align: left;
}

.li-notas a:link {
    color: #1c52c7cc; 
}

.li-notas a:visited {
    color: #dddddd;
}

.li-notas a:hover {
    color: #1c52c7cc; 
    /* text-shadow: 0px 0px 8px #1c91c7; */
    /* text-shadow: 0px 0px 12px #1C91C7; */
}

.li-notas a:active {
    color: #1c52c7cc; 
}
/* 
.span-fecha {
    color: #dddddd;
} */

.ul-fechas {
    list-style-type: none;
    margin: 0 8px 0 0;
    padding: 0;
}

.li-fechas {
    margin-bottom: 8px;
    letter-spacing: 1px;
    padding-right: 6px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    */
    font-size: 14px;
    color: #dddddd;
}

.li-fechas:last-of-type {
    margin-bottom: 20px;
}

/* this is for the NOTE itself */

.article-notas {
    width: 70%;
    margin: 0 auto 50px;
    /* text-align: center;
    background-color: tomato; */
}

.nota {
    margin-bottom: 22px;
    margin-top: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 1rem;
    /* this is from cssmatic/box-shadow */
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

.h3-nota {
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 26px;
    /* background-color: crimson; */
}

.p-nota {
    margin: 0 28px 40px;
    text-align: justify;
    /* letter-spacing: 1px; */
    word-spacing: 2px;
    line-height: 2;
    font-size: 17px;
}

/* THIS ARE COMMENTS STYLES */

.table-comments {
    width: 60%;
    /* this is to implement overflow */
    /* height: 3rem; */
    background-color: #ddd;
    margin: 0 auto;
    border: none;
    border-collapse: separate;
    /* border-radius: 20px; */
    border-spacing: 0 15px;
}

.comments {
    width: 100%;
    height: 2rem;
    padding: 10px 12px 10px 12px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
    /* max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.p-comments-no-show {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    max-width: 42vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-comments-show {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

.show-comments {
    text-align: right;
    text-decoration: underline;
}

.show-comments:hover {
    color: #002b88;
    cursor: pointer;
}

.form-comments {
    width: 80%;
    margin: 0 auto;
}

.input-comments {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}
